/*

  GENERATED

 */
body {
		margin: 60px auto;
		width: 70%;
}
nav ul, footer ul {
		font-family: 'Helvetica', 'Arial', 'Sans-Serif';
		padding: 0px;
		list-style: none;
		font-weight: bold;
}
nav ul li, footer ul li {
		display: inline;
		margin-right: 20px;
}
a {
		text-decoration: none;
		color: #999;
}
a:hover {
		text-decoration: underline;
}
h1 {
		font-size: 3em;
		font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
		font-size: 1.5em;
		line-height: 1.4em;
		color: #333;
}
footer {
		border-top: 1px solid #d5d5d5;
		font-size: .8em;
}
ul.posts {
		margin: 20px auto 40px;
		font-size: 1.5em;
}
ul.posts li {
		list-style: none;
}
/*

  BGC

 */
.avatar {
  position: relative;
}

.avatar div {
  border-radius: 93% 0% 93% 0%;
  background-color: #ccc;
  width: 53px;
  height: 53px;
  top: 0px;
  left: 0px;
  position: absolute;
}

.avatar img {
		max-width: 100px;
		border-radius: 50%;
}


/*
.curl {
  width:120px;
  height:120px;
  position: absolute;
  top:0;
  left:0;
  background :
    linear-gradient(
      135deg,
      #fff,
      #f3f3f3 45%,
      #ddd 50%,
      #aaa 50%,
      #bbb 56%,
      #ccc 62%,
      #f3f3f3 80%,
      #fff 100%
    );
  box-shadow : 0 0 10px rgba(0, 0, 0, .5);
  transition: all .5s ease;
  border-radius: 0% 0% 50% 0%;
}
.curl:before,
.curl:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12.5%;
  bottom: 5.8%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
  transform: skew(-10deg) rotate(-6deg);
}
.curl:after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
}

.curl:hover {
    width: 240px;
    height: 240px;
}
.curl:hover:before,
  .curl:hover:after {
    box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}









*/
